<a href="">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0t0ku7r3mHKwgN5M5JeiCCe6Rm0E1eFez7F_Zrk9mQn9gDNvmVQ">
</a>

<form (submit)="submitDetails($event)" [formGroup]="studentForm" autocomplete="on" novalidate>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="heading">
                <h2>
                    Student Details
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <label>
                <br>
                <b>Student Name</b>
            </label>
            <input class="form-control" formControlName="studentName" type="text" id="studentName" placeholder={{studentName}}>
        </div>

        <div class="form-group">
            <label>
                <b>Branch</b>
            </label>
            <input class="form-control" formControlName="studentBranch" type="text" id="studentBranch" placeholder={{studentBranch}}>
        </div>

        <div class="form-group">
            <label>
                <b>Year of Passing</b>
            </label>
            <input class="form-control" formControlName="passingYear" type="text" id="passingYear" placeholder={{passingYear}}>
        </div>

        <div class="form-group">
            <label>
                <b>Degree</b>
            </label>
            <input class="form-control" formControlName="degree" type="text" id="degree" placeholder={{degree}}>
        </div>

        <div class="form-group">
            <label>
                <b>College ID</b>
            </label>
            <input class="form-control" formControlName="collegeID" type="text" id="collegeID" placeholder={{collegeID}}>
        </div>

        <div class="form-group">
            <label>
                <b>Student Email</b>
            </label>
            <input class="form-control" formControlName="email" type="text" id="email" placeholder={{email}}>
        </div>

        <button type="submit" class="btn btn-success" class="btn btn-success">
            Submit
        </button>
        <div *ngIf='approved' class="approveMessage">
            <strong>Details are succesfully Saved & approved by you!</strong>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    </div>
</form>